.vs/Machiavelli/v14/.suo
Debug/*
*.ipch
Machiavelli.sdf
Machiavelli.sln
Machiavelli/Debug/*
Machiavelli.opensdf
Machiavelli/Machiavelli/Machiavelli.vcxproj
Machiavelli/Machiavelli/Machiavelli.vcxproj.filters
Machiavelli/x64/Debug/*
x64/Debug/Machiavelli.pdb
Machiavelli.sdf
